@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 13px;
}

@media (min-width: 1024px) {
  :root {
    font-size: 17px;
  }
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: #111;
}

hr {
  @apply border-0 border-t border-black/50 my-6 mr-[20%] ml-[60px] dark:border-gray-300/30;
}

.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* border: 1px solid rgba(0, 0, 0, 0.07); */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  @apply bg-gradient-to-tr from-[#e5e5e5] to-neutral-200 dark:bg-black/20 dark:from-black/30 dark:to-black/20 border-[1px] dark:border-black/30;
}

.text-line-purple {
  text-shadow: 1px 3px 3px #6f4d9bad;
}

.morphism-outer {
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 18px rgba(255, 255, 255, 0.8);
}

:is([data-theme='dark'] .morphism-outer) {
  box-shadow: none;
}

.morphism-inner {
  /* box-shadow: inset 17px 17px 34px #b9b9b950, inset -14px -14px 34px #616161; */
  box-shadow: inset -31px -31px 23px rgba(255, 255, 255, 0.64),
    inset 26px 26px 28px rgba(13, 39, 80, 0.16);
}

:is([data-theme='dark'] .morphism-inner) {
  box-shadow: inset 17px 17px 34px #090909, inset -17px -17px 34px #1b1b1b;
}

.content-box:hover .title-text {
  text-shadow: 1px 3px 3px #6f4d9bad;
  transform: scale(1.04);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  @apply text-purple-700 dark:text-purple-300;
}

.notion--table {
  border: 1px solid currentColor;
  border-collapse: collapse;
}
.notion--table th {
  border: 1px solid currentColor;
  background-color: rgb(242, 242, 242);
  padding: 6px 12px;
}
.notion--table td {
  border: 1px solid currentColor;
  padding: 6px 12px;
}

.notion--row {
  display: flex;
}

.notion--row > div {
  flex: 1;
}

.notion--container h1 {
  font-size: 32px;
}

.notion--container img {
  width: 100%;
  height: auto;
}

.notion--container figure {
  margin-left: 0;
  margin-right: 0;
}

.notion--container figcaption {
  opacity: 0.6;
}

@media (min-width: 1024px) {
  .glass {
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
  }
  hr {
    margin-right: 60px;
  }
}
