@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #111;
}

h3 {
  padding: 15px 15px 15px 0px;
  margin-left: 55px;
  letter-spacing: 8px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 1px solid rgba(238, 238, 238, 0.291);
  margin: 24px 20% 24px 60px;
}

.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.27);
  /* border: 1px solid rgba(0, 0, 0, 0.07); */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.2);
}

.text-line-purple {
  text-shadow: 1px 3px 3px #6f4d9bad;
}

.deep-shadow-inner {
  box-shadow: inset 17px 17px 34px #090909, inset -17px -17px 34px #1b1b1b;
}

line {
  stroke-dashoffset: 0;
  stroke-width: 5px;
  fill: none;
}

.progress .indicator {
  stroke: url(#linear);
}

@media (min-width: 1024px) {
  .glass {
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
  }
  hr {
    margin-right: 60px;
  }
}
