.company {
    margin-bottom: 20px;
    width: fit-content;
    color:rgb(209 225 238 / 96%);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.14rem;
}

.content-box {
    width: 70vw;
    padding: 0px 14px 20px 18px;
    margin: 10px 0px 50px 0px;
    list-style-type: none;   
    box-sizing: border-box; 
    /* Glassmorphism */
    background: rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.content-box h4 {
    margin-top: 0;
    font-size: 1.14rem;
}

.content-box > ul {
    margin-bottom: 12px;
}

.content-box-inner-container {
    display: flex;
    flex-direction: column;
}

.content-box-inner-buttons {
    display: flex;
    gap: 13px;
}

.content-box .company {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.content-box:hover .company {
    color: #c199e5e0;
    text-shadow: 1px 3px 3px #6f4d9bad;
    transform: scale(1.04);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.xp-wrapper, .proj-wrapper, .extras-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.proj-box-wrapper::before {
    content: '';
    background: white;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    border: 1px solid #95a7c7;
    margin-top: 6px;
    width: 10px;
    height: 10px;
    z-index: 165;
    left: 17px;
}

.xp-box-wrapper::before {
    content: '';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #95a7c7;
    margin-top: 6px;
    width: 10px;
    height: 10px;
    z-index: 165;
    left: 17px;
}

.extras-box-wrapper::before {
    content: '';
    background: transparent;
    display: inline-block;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 14px solid #ffffff;
    margin-top: 6px;
    z-index: 165;
    left: 15px;
}

.proj-box-wrapper hr, .xp-box-wrapper hr, .extras-box-wrapper hr {
    margin: 12px;
}
.role-date {
    display: flex;
    justify-content: space-between;
    margin-top:-18px;
}

.role-date .role {
    font-style: italic;
    font-size: .9rem;
}

@media (min-width: 1050px){
    .content-box {
        width: 50vw;
        margin-left: 55px;
        margin-right: 50px;
        padding-right: 18px;
        backdrop-filter: blur(8.7px);
        -webkit-backdrop-filter: blur(8.7px);
    }
    .proj-box-wrapper::before, .xp-box-wrapper::before  {
        left: 35px;
    }
    .extras-box-wrapper::before {
        left: 33px;
    }
  }