.content-box {
    width: 70vw;
    padding: 0px 14px 20px 18px;
    margin: 10px 0px 50px 0px;
    list-style-type: none;   
    box-sizing: border-box; 
    /* Glassmorphism */
    background: rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.content-box h4 {
    margin-top: 0;
    font-size: 1.14rem;
}

.content-box > ul {
    margin-bottom: 12px;
}

.xp-box-wrapper::before {
    content: '';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #95a7c7;
    margin-top: 6px;
    width: 10px;
    height: 10px;
    z-index: 165;
    left: 17px;
}

.xp-box-wrapper hr {
    margin: 12px;
}

.role-date {
    display: flex;
    justify-content: space-between;
    margin-top:-18px;
}

.role-date .role {
    font-style: italic;
    font-size: .9rem;
}


@media (min-width: 1050px){
    .content-box {
        width: 50vw;
        margin-left: 55px;
        margin-right: 50px;
        padding-right: 18px;
        backdrop-filter: blur(8.7px);
        -webkit-backdrop-filter: blur(8.7px);
    }
    
    .xp-box-wrapper::before {
        left: 35px;
    }
  }