.main-wrapper {
    height: fit-content;
    width: 100%;
}

.main-container {
    height: fit-content;
    width: 100%;
}
.main-wrapper::before {
    content: "";
    height: 177%;
    /* background: url("../assets/galaxy.gif") top; */
    background: url("../assets/spaceloop-compressed.webp") top;
    ;/* background-position: 120px 0px; */
    background-size: cover;
    display: block;
    position: fixed;
    /* Try using this if I can fix the floating height issue */
    /* position: absolute; */
    z-index: -10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.13;
    filter: blur(4px);
  }

/* .main-container::after {
    clear: both;
} */

.about-container {
    width: 100vw;
    padding-right: 20%;
    box-sizing: border-box;
}

.about-container p {
    line-height: 26px;
    margin: 0 0 2px 45px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container h3 {
    padding: 15px;
    margin-left: 55px;
    letter-spacing: 8px;
}

.xp-wrapper {
    display: flex;
}

.proj-wrapper {
        display: flex;
}

hr {
    border: 0;
    border-top: 1px solid rgba(238, 238, 238, 0.291);
    margin: 24px 20% 24px 60px;
}

.skills-container {
    margin-left: 70px;
    padding-right: 50px;
    padding-bottom: 50px;
}

@media (min-width: 1050px){
    .main-wrapper {
        font-size: 1.3rem;
    }

    hr {
        margin-right: 60px;
    }
    .about-container {
        width: 60vw;
        padding-right: 40px;
        
    }
    .about-container p {
        margin-left: 70px;
    }

    .skills-container {
        padding-bottom: 10px;
    }
}

