.nav-bar {
    position: fixed;
    margin: 7% 0;
    right: 10px;
    width: 55px;
    border-radius: 30px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
    box-sizing: border-box;
    padding: 150px 0 150px 20px;
    opacity: 0.5;
    /* Glassmorphism */
    background: rgba(0, 0, 0, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(0, 0, 0, 0.27);
}

.nav-bar:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(0, 0, 0, 0.27);
}

.nav-bar button {
    background: transparent;
    color: rgb(210, 210, 210);
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: .8rem;
}


.nav-bar:hover button {
    cursor: pointer;
}

.nav-bar:hover button:hover {
    cursor: pointer;
}

@media (min-width: 1050px){
    .nav-bar button{
        font-size: 1rem;
    }

    .nav-bar {
        width: 60px;
    }
}