.profile-tab-container {

}

.profile-tab {
    /* border: 1px red solid; */
    background-color: rgba(0, 0, 0, 0.66);
}

@media (min-width: 960px){
    .profile-tab-container {
        width: 400px;
        flex-shrink: 0; 
    }

    .profile-tab {
        height: 100%;
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }
  }