.xp-box a {
    text-decoration: none;
}

.company {
    margin-bottom: 20px;
    width: fit-content;
    color:rgb(209 225 238 / 96%);
    font-weight: 700;
}

.inner-container {
    display: flex;
    flex-direction: column;
}

.xp-box .company {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.xp-box:hover .company {
    color: #9f63d5d4;
    /* padding: 0 2px 0 2px; */
    /* text-shadow: rgb(236 141 255) 1px 0 10px; */
    text-shadow: 2.5px 2.5px #401674d1;
    transform: scale(1.06);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.proj-box-wrapper::before {
    content: '';
    background: white;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    border: 1px solid #95a7c7;
    margin-top: 6px;
    width: 10px;
    height: 10px;
    z-index: 400;
    left: 45px;
}

@media (min-width: 1050px) {

    .proj-box-wrapper::before  {
        left: 445px;
    }
}