.xp-box a {
    text-decoration: none;
}

.company {
    margin-bottom: 20px;
    width: fit-content;
    color:rgb(209 225 238 / 96%);
    font-weight: 700;
}

.inner-container {
    display: flex;
    flex-direction: column;
}

.xp-box .company {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.xp-box:hover .company {
    color: #c199e5e0;
    text-shadow: 1px 3px 3px #6f4d9bad;
    transform: scale(1.06);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.proj-box-wrapper::before {
    content: '';
    background: white;
    display: inline-block;
    position: absolute;
    transform: rotate(45deg);
    border: 1px solid #95a7c7;
    margin-top: 6px;
    width: 10px;
    height: 10px;
    z-index: 165;
    left: 45px;
}

@media (min-width: 1050px) {

    .proj-box-wrapper::before  {
        left: 365px;
    }
}