.progress-wrapper {
    /* background-color: rgba(168, 201, 220, 0.196); */
    position: relative;
    z-index: -10;
    /* left: calc(90px + 35%); */
    margin-top: 35px;
    left: 40px;
}

.progress-main {
    background: linear-gradient(180deg,#6c5faf56 0,#631fb079);
    width: 4px;
    margin-left:-1px;
}

.progress {
    position: absolute;
    top: 0;
    left: -1px;
    /* width: 80px; */
    /* height: 80px; */
    height: 100%;
    margin: 0;
    padding: 0;
}

.progress svg {
    transform: rotate(-180deg);
  }

line {
    stroke-dashoffset: 0;
    stroke-width: 5px;
    fill: none;
}

.bg {
    stroke: rgba(168, 201, 220, 0.196);
    opacity: 0.5;
}

.progress .indicator {
    stroke: url(#linear);
} 

@media (min-width: 1050px){
    .progress-wrapper {
        /* left: calc(390px + 25%); */
    left: 40px;

    }
  }