.progress-wrapper {
    background-color: rgba(168, 201, 220, 0.196);
    /* height: 700px; */
    position: relative;
    z-index: -10;
    width: 2px;
    /* left: calc(90px + 35%); */
    margin-top: 35px;
    left: 40px;
}

.progress-main {
    background: linear-gradient(140deg,#6c5faf56 0,#631fb079);
    width: 4px;
    margin-left:-1px;
}

@media (min-width: 960px){
    .progress-wrapper {
        /* left: calc(390px + 25%); */
    left: 40px;

    }
  }